<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_WF.Properties.Settings.Sell_ManagementConnectionString"
            connectionString="Data Source=DESKTOP-1I9J7FJ;Initial Catalog=Sell_Management;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Project_WF.Properties.Settings.Sell_ManagementConnectionString1"
            connectionString="Data Source=HUY\SQLEXPRESS;Initial Catalog=Sell_Management;Persist Security Info=True;User ID=sa;Password=tgbyhnujm"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>